body {
    background: linear-gradient(to bottom, #5fc1e8, #ffffff);
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

.login-container {
    flex-grow: 1;
    margin: 10vh auto;
    width: 50vh;
    padding: 40px;
    background-color: #F08700;
    border-radius: 25px;
}

.login-container form input[type="email"],
.login-container form input[type="password"] {
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.login-container h2 {
    text-align: left;
    padding-bottom: 10px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    padding: 10px;
    margin-bottom: 10px;
}

.login-container button {
    padding: 10px;
    background-color: #13A0DB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-links {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-links a {
    color: #003366;
    text-decoration: none;
  }
  
  .login-links span {
    margin: 0 5px;
    color: #003366;
  }

.terms-checkbox{
    padding-top: 10px;
}

button a {
    color: #003366;
    text-decoration: none;
  }
  
  button a:hover {
    color: rgb(170, 5, 5);
    text-decoration: none;
  }
